* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  color: #00f0ff;
}

p {
  font-size: 1.125rem;
  color: #00f0ff;
}

/* BARRA DE ROLAGEM */
/* Largura da barra */
::-webkit-scrollbar {
  width: 6px;
}
/* Fundo da barra (trilho) */
::-webkit-scrollbar-track {
  background: #0b0c10;
}
/* Parte que desliza (thumb) */
::-webkit-scrollbar-thumb {
  background: #00f0ff;
  border-radius: 6px;
}
/* Parte que desliza ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #ff007a;
}

/* Navbar */
.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;

  background-color: #0b0c10;
  /* position: absolute; */
  position: fixed;
  z-index: 999;
}

.navbar-container ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-container ul li {
  padding-right: 30px;
  letter-spacing: 0.125rem;
  font-weight: 700;
}

.navbar-container ul li a {
  color: #00f0ff;
  transition: color 0.2s ease-in-out;
}

.navbar-container ul li a:hover {
  color: #ff007a;
  cursor: pointer;
}

/* Showcase */
.showcase-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 80px;

  align-items: center;

  background-color: #0b0c10;
}

.showcase-content-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #00f0ff;
  padding-right: 90px;
}

/* .showcase-content-left h1 {
  font-size: 3rem;
} */

/* .showcase-content-left p {
  font-size: 1.125rem;
} */

.showcase-content-left button {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  color: #000;
  font-weight: 900;
  letter-spacing: 0.075rem;
  background-color: #ff007a;

  transition: all 0.2s ease-in-out;
}

.showcase-content-left button:hover {
  background-color: #00f0ff;
  color: #0b0c10;
  cursor: pointer;
}

.showcase-content-right .image-molde {
  position: relative;
  display: inline-block;
  padding: 40px;
  background-color: #0b0c10;
}

.showcase-content-right .image-molde img {
  display: block;
  border-radius: 8px;
  width: 450px;
  transition: transform 0.5s ease-in-out;
}

.showcase-content-right .image-molde img:hover {
  transform: scale(1.05);
}

.showcase-content-right .image-molde::before,
.showcase-content-right .image-molde::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid #ff007a;
}

/* Cantoneira Superior Esquerda */
.showcase-content-right .image-molde::before {
  top: 0;
  left: 0;
  border-right: none; /* Removemos as bordas que não queremos */
  border-bottom: none;
}

/* Cantoneira Inferior Direita */
.showcase-content-right .image-molde::after {
  bottom: 0;
  right: 0;
  border-left: none; /* Removemos as bordas que não queremos */
  border-top: none;
}

/* Tecnical Skills */
.skills-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #0b0c10;
}

.skills-content-left {
  color: #00f0ff;
}

/* .skills-content-left h1 {
  font-size: 3rem;
} */

/* .skills-content-left p {
  font-size: 1.125rem;
} */

.skills-content-right {
  display: flex;
  justify-content: end;
}

.skills {
  flex: 0 0 70%;
  max-width: 70%;
  height: 500px;
  margin-top: 40px;
  padding: 30px;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: #1d202b;
}

.skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #00f0ff;
  text-transform: capitalize;
}

.skills .skill-item p {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #00f0ff;
  text-transform: capitalize;
}

.skills .skill-item .progress {
  background-color: black;
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.skills .skill-item {
  margin-bottom: 25px;
}

.skills .skill-item .progress .progress-in {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: #ff007a;
}

.skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  color: #00f0ff;
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0b0c10;
  gap: 50px;
}

.carousel-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* Esconde itens fora da tela */
  position: relative;
}

.carousel-slide-container {
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.prevBtn,
.nextBtn {
  border-radius: 2px;
  padding-bottom: 15px;
  padding-top: 15px;
  align-self: center;
  justify-self: center;
  background-color: #00f0ff;
  color: #000;
}

.prevBtn:hover,
.nextBtn:hover {
  background-color: #ff007a;
  cursor: pointer;
}

.slide {
  height: 600px;
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
}

.slide-text {
  height: 25%;
  padding: 20px;
  background-image: linear-gradient(
    to bottom,
    rgba(153, 147, 147, 0),
    rgba(0, 0, 0, 0.589),
    rgb(0, 0, 0)
  );
  opacity: 0;
}

.slide-text h2 > a {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  text-decoration: underline;
}

.slide-text p {
  color: #fff;
}

.project-item-image {
  background-size: cover;
  background-position: center;
}

.prj1 {
  background-image: url(./images/sample.jpg);
}

.prj2 {
  background-image: url(./images/sample.jpg);
}

.prj3 {
  background-image: url(./images/sample.jpg);
}

.prj4 {
  background-image: url(./images/sample.jpg);
}

/* Utilities */
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in forwards;
}

.fade-out {
  animation: fade-out 0.5s ease-in forwards;
}
